name: BACKEND Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/cmd

    steps:
      - name: Go Build
        run: go build -o gonotes-server