name: FRONTEND Build Web

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-web:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/client

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Flutter
        uses: ./.github/actions/setup_flutter
      
      - name: Build
        run: flutter build web --release