name: FRONTEND Analysis and Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  analyze-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend/client

    steps:
      - name: Go Build
        run: cd backend/cmd && go build -o gonotes-server